.container {
  padding-top:3.5rem;
  padding-bottom:3.5rem;
}

.gap {
  padding-top:3.5rem;
  padding-bottom:5rem;
  background-image: url("file:///Users/soorajmodi/Code/my_website/images/gap_main.jpeg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 250px; /* Height of the gap */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.edu_gap {
  padding-top:3.5rem;
  padding-bottom:5rem;
  background-image: url("file:///Users/soorajmodi/Code/my_website/images/blackboard.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 250px; /* Height of the gap */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}

.footer {
  text-align: center;
  color:black;
  padding-bottom:20px;
  padding-top:20px;
  background-color:#64646d;
}

.skills {
  text-align:center;
  padding-bottom:20px;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
/* MUST come after a:link and a:visited */
a:hover {
  color: white;
}

/* selected link */
/* MUST come after a:hover */
a:active {
  color: white;
}

.left, .right {
  padding: 0;
}

.h6 {
  color: #C0C0C0;
}
