/* CSS shared across webpages */
.container {
  padding-top:3.5rem;
  padding-bottom:3.5rem;
}

.divider {
  padding-top:0rem;
  padding-bottom:0rem;
}

/* CSS for gaps on webpage */
.gap {
  padding-top:3.5rem;
  padding-bottom:5rem;
  background-image: url("file:///Users/soorajmodi/Code/my_website/images/gap_main.jpeg"); /* Default image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* Height of the gap */
  width: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-attachment: fixed;
}

.minor_gap {
  height: 150px;
}

.major_gap {
  height: 700px;
}

/* Navbar and Footer Styling */
.navbar .nav-item a {
  display: inline-block;
  text-align:center;
}

.navbar .nav-item a:hover {
    text-shadow: 0 0 1px white;
}

.footer {
  text-align: center;
  color:black;
  padding-bottom:20px;
  padding-top:20px;
  background-color:#64646d;
}

/* Custom styling for categories on site */
.cat_header h1 {
  text-align: center;
  font-size: 60px;
  font-weight: light;
  padding-top: 4%;
  padding-bottom: 2%;
}

.cat_header p {
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 2%;
}

.image {
  vertical-align:center;
  background-blend-mode:multiply;
  max-height:250px;
}

.embed-responsive {
    position: relative;
    display: block;
    height:1000px;
    width:100%;
    overflow: scroll;
}

.animate-icon {
  transition: 0.4s;
}

.rotate {
  transform:rotate(180deg);
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
/* MUST come after a:link and a:visited */
a:hover {
  color: white;
}

/* selected link */
/* MUST come after a:hover */
a:active {
  color: white;
}

.left, .right {
  padding: 0;
}

.h6 {
  font-family: Lato;
  color: #C0C0C0;
}

button {
  font-family: Lato-Thin;
  outline:none;
}

h1 {
  font-family: Lato;
}

button.btn {
  color:black;
}

button.btn:active {
  outline: none;
  border: none;
}

p {
  font-family: Lato;
}
