  <!-- Footer for Final info -->
  <footer>
    <div class="footer">
      <p><a href="/contact">Contact</a></p>
      <p><a href="https://github.com/SoorajModi/my_website" target="_blank">View Code</a></p>
      <p style="color:white">Thank you for visiting!</p>
    </div>

    <!-- JavaScript -->
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Custom JS -->
    <script src="/js/scripts.js" charset="utf-8"></script>
  </footer>
</html>
