  <!-- Footer for Final info -->
  <footer>
    <div class="footer">
<!--      <p style="color:white">Thank you for visiting!</p>-->
    </div>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Custom JS -->
    <script src="/js/scripts.js" charset="utf-8"></script>
  </footer>
</html>
