<%- include('partials/header.ejs') -%>
<body>
<%- include('partials/navbar.ejs') -%>
<main role="main">
    <div class="main-header not-found">
            <h2>404 - Page not found</h2>
            <p>This may not mean anything...</p>
            <p>...or that I'm working on something that has blown up.</p>
            <a class="btn btn-secondary" href="/" role="button">Home</a>
        </div>
</main>
</body>
<%- include('partials/footer.ejs') -%>
