<%- include('partials/header') -%>
  <body>
    <%- include('partials/navbar') -%>
    <main role="main">
      <!-- Add gap for visual space -->
      <div class="gap major-gap" style="background-image: url('/images/gap_main.jpeg');">
      </div>

      <div class="cat-header">
        <h1>A little bit about me ...</h1>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
      </div>

      <div class="container">

        <!-- <a class=""> -->
        <div class="about_sub_header">
          <h4>
            <a class="collapsed heading rotate_arrow" data-toggle="collapse" data-target="#pro_sum" aria-expanded="false" aria-controls="pro_sum">
              Professional Summary
            <!-- <button class="about_arrow btn btn-link collapsed float-right" data-toggle="collapse" data-target="#pro_sum" aria-expanded="false" aria-controls="pro_sum"> -->
              <!-- <div class="right"> -->
                <!-- <i class="animate-icon about_arrow collapsed fa fa-plus-light" data-toggle="collapse" data-target="#pro_sum" aria-hidden="true" aria-expanded="false" aria-controls="pro_sum"></i> -->
              <!-- </div> -->
            <!-- </button> -->
            </a>
          </h4>
        </div>
        <!-- </a> -->
        <div class="collapse about_sub_text" id="pro_sum">
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>

        <hr>

        <div class="about_sub_header">
          <h4>
            <a class="collapsed heading rotate_arrow" data-toggle="collapse" data-target="#collapse_origin" aria-expanded="false" aria-controls="collapse_origin">
              Where I Came From
            </a>
          </h4>
        </div>
        <div class="collapse about_sub_text" id="collapse_origin">
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>

        <hr>

        <div class="about_sub_header">
          <h4>
            <a class="collapsed heading rotate_arrow" data-toggle="collapse" data-target="#curr_drop" aria-expanded="false" aria-controls="curr_drop">
              What I'm Currently Doing
            </a>
          </h4>
        </div>
        <div class="collapse about_sub_text" id="curr_drop">
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>

        <hr>

        <div class="about_sub_header">
          <h4>
            <a class="collapsed heading rotate_arrow" data-toggle="collapse" data-target="#collapse_future" aria-expanded="false" aria-controls="collapse_future">
              Looking Ahead
            </a>
          </h4>
        </div>
        <div class="collapse about_sub_text" id="collapse_future">
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>

      </div>
    </main>
  </body>
<%- include('partials/footer') -%>
