<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('partials/header'); -%>
<body>
<div class="container">
    <%- include('partials/navbar'); -%>
    <main>
        <div class="main-header">
            <h1>Compose Skill</h1>

            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <form action="/experience/skill/compose" method="post">
                            <div class="form-group">
                                <label for="composeSkill">Title
                                    <input class="form-control" type="text" name="composeSkill">
                                </label>
                            </div>
                            <div class="submit-btn">
                                <button class="btn btn-secondary" type="submit" name="button">Publish</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
<%- include('partials/footer'); -%>
</html>
