<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('partials/header'); -%>
<body>
<div class="container">
    <%- include('partials/navbar'); -%>
    <main>
        <div class="main-header">
            <h1>Contact</h1>


            <div id="contact">
                <div class="container">
                    <a><i class="fa fa-envelope"></i> soorajmodi@hotmail.com</a>
                </div>
                <div class="container">
                    <a><i class="fa fa-phone"></i> (416) 578-3008</a>
                </div>
                <div class="container">
                    <a href="https://github.com/SoorajModi" target="_blank"><i class="fa fa-github"></i> GitHub</a>
                </div>
                <div class="container">
                    <a href="https://www.linkedin.com/in/soorajmodi/" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a>
                </div>
                <div class="container">
                    <a href="https://twitter.com/SoorajModi" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
<%- include('partials/footer'); -%>
</html>
