<%- include('partials/header'); -%>
  <body>
    <%- include('partials/navbar'); -%>
    <main role="main">
      <div class="cat_header">
        <h1>Contact Me</h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-1">
            <img src="../images/profile.jpg" class="img-fluid contact_pic avatar" alt="Sooraj Modi Profile Picture">
          </div>
          <div class="col-md-6 col-sm-1 contact_info_block">
            <h2>Sooraj Modi</h2>
            <h6 class="contact_info"><i class="fa fa-phone-square"></i> (416) 578-3008</h6>
            <h6 class="contact_info"><i class="fa fa-envelope-square"></i>  soorajmodi@hotmail.com</h6>
            <div class="container divider">
              <a class="contact_button" href="https://github.com/SoorajModi" target="_blank">
                <i class="fa fa-github-square"></i>
              </a>
              <a class="contact_button" href="https://www.linkedin.com/in/soorajmodi/" target="_blank">
                <i class="fa fa-linkedin-square"></i>
              </a>
              <a class="contact_button" href="https://twitter.com/SoorajModi" target="_blank">
                <i class="fa fa-twitter-square"></i>
              </a>
              <a class="contact_button" href="https://www.facebook.com/sooraj.modi.98" target="_blank">
                <i class="fa fa-facebook-square"></i>
              </a>
          </div>
        </div>
      </div>
    </div>
    </main>
  </body>
<%- include('partials/footer'); -%>
