<%- include('partials/header'); -%>
  <body>
    <%- include('partials/navbar'); -%>
    <main role="main">
      <div class="gap major-gap" style="background-image: url('images/contact-me.jpg'); background-attachment: scroll;">
      </div>

      <div class="cat-header">
        <h1>Contact Me</h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-1">
            <img src="images/profile.jpg" class="img-fluid contact_pic avatar" alt="Sooraj Modi Profile Picture">
          </div>
          <div class="col-md-6 col-sm-1 contact-info-block">
            <h2>Sooraj Modi</h2>
            <h4>Feel free to get in touch with me. I am always open to discussing new projects, creative ideas or opportunities to be a part of your vision.</h4>
            <h5>Phone</h5>
            <h6 class="contact-info">(416) 578-3008</h6>
            <h5>Email</h5>
            <h6 class="contact-info">soorajmodi@hotmail.com</h6>
            <h6 class="contact-info"><a href="https://github.com/SoorajModi" target="_blank"><h5>GitHub</h5></a></h6>
            <h6 class="contact-info"><a href="https://www.linkedin.com/in/soorajmodi/" target="_blank"><h5>LinkedIn</h5></a></h6>
        </div>
      </div>
    </div>
    </main>
  </body>
<%- include('partials/footer'); -%>
