<%- include('partials/header.ejs') -%>
<body>
<%- include('partials/navbar.ejs') -%>
<main role="main">
    <!-- Add gap for visual space -->
    <div class="gap major_gap" style="background-image: url('images/education.jpg');">
    </div>

    <div class="cat_header">
        <h1>Education</h1>
    </div>

    <div class="gap minor_gap" style="background-image: url('images/education.jpg');">
    </div>

    <!-- Bachelor of Computing Portion -->
    <div class="container">
        <div class="sub_cat_card" id="first_sub_cat">
            <div class="row">
                <div class="container divider text-center">
                    <h2><a class="cat_link" href="https://admission.uoguelph.ca/bcomp" target="_blank">Bachelor of
                            Computing</a></h2>
                    <h6><a class="cat_link" href="https://www.uoguelph.ca/" target="_blank">University of Guelph</a>
                    </h6>
                    <p>I chose to take my undergrad at the University of Guelph in Honours Computer Science. I loved my
                        time at Guelph, it was incredibly influential on my development as a person and professional,
                        and I loved the environment, sense of community and culture that is established there and
                        learned a lot from.</p>
                    <a class="expand_btn center" data-toggle="collapse" data-target="#collapseGuelph"
                       aria-expanded="false" aria-controls="collapseGuelph">
                        <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="collapse extra_info_card" id="collapseGuelph">
                <div class="card card-body">
                    <h6>2016-2021</h6>
                    <ul>
                        <li>Majored in Honours Computer Science</li>
                        <li>Minored in History</li>
                        <li>Completed courses including:
                            <ul>
                                <li>Data Structures in Computing</li>
                                <li>Object Oriented Programming</li>
                                <li>Software Systems</li>
                                <li>Development and Integration</li>
                                <li>Operating Systems</li>
                                <li>Analysis and Design of Computing Algorithms</li>
                                <li>Legacy Systems</li>
                                <li>Social Implications of Computing</li>
                                <li>Data Science</li>
                            </ul>
                        </li>
                        <li>Currently completing courses including; Networking and Data Science.</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Add dividier to seperate different degrees -->
        <div class="divider">
            <hr>
        </div>

        <!-- IB Diploma Portion -->
        <div class="sub_cat_card">
            <div class="row">
                <div class="container divider text-center">
                    <h2><a class="cat_link" href="https://www.ibo.org/" target="_blank">International Baccalaureate
                            Diploma (IB)</a></h2>
                    <h6>Cameron Heights Collegiate Institute</h6>
                    <p>In high school in addition to my OSSD, I was also enrolled in the IB program. An international
                        program designed to develop students who will build a better world through intercultural
                        understanding and respect.</p>
                    <a class="expand_btn center" data-toggle="collapse" data-target="#collapseIB" aria-expanded="false"
                       aria-controls="collapseIB">
                        <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="collapse extra_info_card" id="collapseIB">
                <div class="card card-body">
                    <h6>2012-2016</h6>
                    <ul>
                        <li>Critical thinking and challenge assumptions.</li>
                        <li>Develop independently of government and national systems, incorporating quality practice
                            from research and our global community of schools.
                        </li>
                        <li>Learn to consider both local and global contexts.</li>
                        <li>Develop research skills proven to help in higher education.</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Add divider to seperate degrees -->
        <div class="divider">
            <hr>
        </div>

        <!-- OSSD Diploma Portion -->
        <div class="sub_cat_card" id="final_sub_cat">
            <div class="row">
                <div class="container divider text-center">
                    <h2>Ontario Secondary School Diploma (OSSD)</h2>
                    <h6>Cameron Heights Collegiate Institute</h6>
                    <!-- <p>I went to a local highschool in Kitchener where I earned my OSSD.</p> -->
                    <!-- <a class="expand_btn center" data-toggle="collapse" data-target="#collapseOSSD" aria-expanded="false" aria-controls="collapseOSSD">
                      <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
                    </a> -->
                </div>
            </div>
            <!-- <div class="collapse extra_info_card" id="collapseOSSD">
              <div class="card card-body">
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
              </div>
            </div> -->
        </div>
    </div>

    <!-- Other skills and Certifications portion -->
    <!-- <div class="row">
      <div class="col-md-12 col-sm-12" style="text-align:center;">
        <h2>Other Certifications and Skills</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6 col-sm-12 left">
        <ul class="list-unstyled">
          <li>safeTALK Training</li>
          <li>Item</li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-12 right">
        <ul class="list-unstyled">
          <li>Item</li>
          <li>Item</li>
        </ul>
      </div>
    </div>
  </div> -->
</main>
</body>
<%- include('partials/footer.ejs') -%>
