<%- include('partials/header.ejs') -%>
  <body>
    <%- include('partials/navbar.ejs') -%>
    <main role="main">
      <!-- Add gap for visual space -->
      <div class="gap major_gap" style="background-image: url('/images/gap_main.jpeg');">
      </div>

      <div class="cat_header">
        <h1>Education</h1>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      </div>

      <div class="gap minor_gap" style="background-image: url('/images/gap_main.jpeg');">
      </div>

      <!-- Main portion of webpage -->
      <div class="container divider">
        <hr>
      </div>

      <!-- Bachelor of Computing Portion -->
      <div class="container">
        <div class="sub_cat_card">
          <div class="row">
            <div class="container divider text-center">
              <h2>Computer Science, Bachelor of Computing</h2>
              <h6>Unniversity of Guelph &#9679; Guelph, ON &#9679; 2021 &#9679;</h6>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <a class="expand_btn center" data-toggle="collapse" data-target="#collapseGuelph" aria-expanded="false" aria-controls="collapseGuelph">
                <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="collapse extra_info_card" id="collapseGuelph">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
        </div>
      </div>

      <!-- Add dividier to seperate different degrees -->
      <div class="container divider">
        <hr>
      </div>

      <!-- IB Diploma Portion -->
      <div class="container">
        <div class="sub_cat_card">
          <div class="row">
            <div class="container divider text-center">
              <h2>International Baccalaureate Diploma</h2>
              <h6>Kitchener, ON &#9679; 2016 &#9679;</h6>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <a class="expand_btn center" data-toggle="collapse" data-target="#collapseIB" aria-expanded="false" aria-controls="collapseIB">
                <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="collapse extra_info_card" id="collapseIB">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
        </div>
      </div>

      <!-- Add divider to seperate degrees -->
      <div class="container divider">
        <hr>
      </div>

      <!-- OSSD Diploma Portion -->
      <div class="container">
        <div class="sub_cat_card">
          <div class="row">
            <div class="container divider text-center">
              <h2>Ontario Secondary School Diploma</h2>
              <h6>Kitchener, ON &#9679; 2016 &#9679;</h6>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <a class="expand_btn center" data-toggle="collapse" data-target="#collapseOSSD" aria-expanded="false" aria-controls="collapseOSSD">
                <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="collapse extra_info_card" id="collapseOSSD">
            <div class="card card-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Add divider to seperate degrees -->
      <div class="container divider">
        <hr>
      </div>

      <!-- Other skills and Certifications portion -->
      <div class="container" style="background-color:white;">
        <div class="row">
          <div class="col-md-12 col-sm-12" style="text-align:center;">
            <h2>Other Certifications and Skills</h2>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-6 col-sm-12 left">
            <ul class="list-unstyled">
              <li>Item</li>
              <li>Item</li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-12 right">
            <ul class="list-unstyled">
              <li>Item</li>
              <li>Item</li>
            </ul>
          </div>
        </div>
      </div>
    </main>
  </body>
<%- include('partials/footer.ejs') -%>
