<%- include('partials/header'); -%>
<body>
<%- include('partials/navbar'); -%>
<main role="main">
    <div class="gap major_gap" style="background-image: url('images/experience.jpg');">
    </div>

    <div class="cat_header">
        <h1>Experience</h1>
    </div>

    <div class="gap minor_gap" style="background-image: url('images/experience.jpg');">
    </div>

    <!-- Main portion of webpage -->

    <!-- UTA Position -->
    <div class="container">
        <div class="sub_cat_card" id="first_sub_cat">
            <div class="row">
                <div class="container divider text-center">
                    <h2>Undergraduate Teaching Assistant (UTA)</h2>
                    <h6><a class="cat_link" href="https://www.uoguelph.ca/" target="_blank">University of Guelph</a>
                    </h6>
                    <p>I have spent five semesters as an UTA at the University of Guelph where I worked to help
                        administer undergraduate courses, including facilitating labs, teaching students core
                        programming concepts, grading assignments and more. I really enjoyed working as a TA because it
                        gave me the opportunity to be on the other side of courses and gave me the opportunity to use
                        the
                        skills I have developed over the course of my degree in a meaningful way.</p>
                    <a class="expand_btn center" data-toggle="collapse" data-target="#collapseUTA" aria-expanded="false"
                       aria-controls="collapseUTA">
                        <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="collapse extra_info_card" id="collapseUTA">
                <div class="card card-body">
                    <h6>Intermediate Programming, January 2021 - Current</h6>
                    <ul>
                        <li>Facilitated weekly labs.</li>
                        <li>Monitored emails and responded to student questions.</li>
                    </ul>
                    <h6>Data Structures in Computing, Sept 2020 - Dec 2020</h6>
                    <ul>
                        <li>Attended weekly team meetings.</li>
                        <li>Taught students core programming concepts.</li>
                        <li>Aided in debugging student issues and improve understanding of the material.</li>
                        <li>Designed and facilitated labs through Microsoft Teams to reinforce concepts taught in
                            lectures.
                        </li>
                        <li>Monitored emails using Redmine Ticket monitoring system.</li>
                    </ul>
                    <h6>Object Oriented Programming, May 2020 - June 2020</h6>
                    <ul>
                        <li>Attended weekly team meetings.</li>
                        <li>Taught students core programming concepts.</li>
                        <li>Aided in debugging student issues and improve understanding of the material.</li>
                        <li>Critiqued student assignments and provided feedback.</li>
                        <li>Designed and facilitated labs to reinforce concepts taught in lectures.</li>
                        <li>Monitored student discussions and answered questions through Microsoft Teams.</li>
                    </ul>
                    <h6>Introduction to Programming, January 2020 - April 2020</h6>
                    <ul>
                        <li>Attended weekly team meetings.</li>
                        <li>Taught students introductory programming concepts.</li>
                        <li>Aided in debugging student issues and improve understanding of the material.</li>
                        <li>Facilitated labs to reinforce concepts taught in lectures.</li>
                    </ul>
                    <h6>Data Structures in Computing, September 2019 - December 2019</h6>
                    <ul>
                        <li>Attended weekly team meetings.</li>
                        <li>Taught students core programming concepts.</li>
                        <li>Aided in debugging student issues and improve understanding of the material.</li>
                        <li>Designed and facilitated labs to reinforce concepts taught in lectures.</li>
                        <li>Monitored emails using RedMine Ticket monitoring system.</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Add divider to separate degrees -->
        <div class="divider">
            <hr>
        </div>

        <div class="sub_cat_card">
            <div class="row">
                <div class="container divider text-center">
                    <h2>Undergraduate Research Assistant (URA)</h2>
                    <h6>
                        <a class="cat_link" href="https://www.uoguelph.ca/" target="_blank">University of Guelph</a>
                    </h6>
                    <p>During the Summer of 2020 I spent four months working as an URA investigating diversity in
                        Post-Secondary eduction and systemic issues that can reduce access for potentially vulnerable
                        populations.</p>
                    <a class="expand_btn center" data-toggle="collapse" data-target="#collapseURA" aria-expanded="false"
                       aria-controls="collapseURA">
                        <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="collapse extra_info_card" id="collapseURA">
                <div class="card card-body">
                    <ul>
                        <li>Collecting student retention and graduation data.</li>
                        <li>Writing literature reviews.</li>
                        <li>Develop compartmental models in Python using Jupyter Notebooks and libraries such as NumPy,
                            SciPy, Plotly and more.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Add divider to seperate degrees -->
        <div class="divider">
            <hr>
        </div>

        <div class="sub_cat_card">
            <div class="row">
                <div class="container divider text-center">
                    <h2>Student Software Developer</h2>
                    <h6><a class="cat_link" href="https://www.bell.ca/" target="_blank">Bell</a></h6>
                    <p>I returned to Bell in the Summer of 2019 for a second internship. I spent this term as a member
                        of one of Bell's Unified Communications (UC) teams working on modernizing Bell's MMS messaging
                        platform and making it more stable for variable amounts of traffic. It was a really exciting
                        team and gave me the opportunity to work with a Java and Springboot backend in a professional
                        setting.</p>
                    <a class="expand_btn center" data-toggle="collapse" data-target="#collapseBell"
                       aria-expanded="false" aria-controls="collapseBell">
                        <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="collapse extra_info_card" id="collapseBell">
                <div class="card card-body">
                    <h6>May 2019 - August 2019</h6>
                    <ul>
                        <li>Domain Driven Design approach to software design.</li>
                        <li>Test-driven development with high code coverage including unit testing using Junit,
                            integration tests, and end-to-end testing.
                        </li>
                        <li>Aided with circuit breaker implementation using Hystrix.</li>
                        <li>Utilizing technologies such as Lombok, Gradle, Apache Kafka and more.</li>
                        <li>Designing and programming a rate limiting algorithm.</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Add divider to seperate degrees -->
        <div class="divider">
            <hr>
        </div>

        <div class="sub_cat_card">
            <div class="row">
                <div class="container divider text-center">
                    <h2>Student Software Developer</h2>
                    <h6><a class="cat_link" href="https://business.bell.ca/shop/medium-large/internet-of-things"
                           target="_blank">Bell</a></h6>
                    <p>Following the conclusion of my second year, I received an internship to work at Bell as a Software
                    Developer. I joined the Internet of Things (IoT) development team to help program the backend for
                    Bell's Smart City Project. This was my first time working as part of a professional development team
                    and I learned a lot skills to grow as a programmer and leader.</p>
                    <a class="expand_btn center" data-toggle="collapse" data-target="#collapseBell2"
                       aria-expanded="false" aria-controls="collapseBell2">
                        <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="collapse extra_info_card" id="collapseBell2">
                <div class="card card-body">
                    <h6>May 2018 - August 2018</h6>
                    <ul>
                        <li>Utilized agile methodologies by attending daily stand-ups, sprint planning, demos,
                            retrospectives and backlog grooming with the team.
                        </li>
                        <li>Test-driven development with high code coverage including unit and end-to-end testing.</li>
                        <li>Collaborated with the development team in a mob and pair settings to develop features and
                            functionality for the Smart City Project based on customer feedback in a test-driven
                            approach.
                        </li>
                        <li>Consolidated information discussed by the team into Confluence and Trello.</li>
                        <li>Using Business Intelligence tools such as IBM Cognos.</li>
                        <li>Used version control systems such as GitHub and GitLab.</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Add divider to seperate degrees -->
        <div class="divider">
            <hr>
        </div>

        <div class="sub_cat_card">
            <div class="row">
                <div class="container divider text-center">
                    <h2>Office Assistant</h2>
                    <h6><a class="cat_link" href="https://www.acrpautomation.com/" target="_blank">ACRP Ltd.</a></h6>
                    <p>The Summer 2017 I had the opportunity to work at ACRP Ltd., a startup that manufactured automation
                        equipment based in Waterloo. Working for a startup was a unique experience that allowed me to gain
                        a variety of experiences.</p>
                    <a class="expand_btn center" data-toggle="collapse" data-target="#collapseACRP"
                       aria-expanded="false" aria-controls="collapseACRP">
                        <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="collapse extra_info_card" id="collapseACRP">
                <div class="card card-body">
                    <h6>May 2017 - August 2017</h6>
                    <ul>
                        <li>Aided in day-to-day activities within the company.</li>
                        <li>Generated documentation for ACRP products including user guides, electrical schematics,
                            pneumatic schematics, troubleshooting tips, and more.
                        </li>
                        <li>Helped certify the company in accordance to ISO 9001:2015 regulations for quality management
                            systems.
                        </li>
                        <li>Programmed automation machines under development using CX Programmer.</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Add divider to seperate degrees -->
        <div class="divider">
            <hr>
        </div>

        <!-- Kumon Tutor Position -->
        <div class="sub_cat_card" id="final_sub_cat">
            <div class="row">
                <div class="container divider text-center">
                    <h2>Tutor</h2>
                    <h6><a class="cat_link" href="https://www.kumon.com/" target="_blank">Kumon</a></h6>
                    <p>During High School I worked part-time as a math tutor at Kumon for two years. As part of my role
                        I worked with students to teach core math concepts ranging from arithmetic, to more advanced concepts
                        such as fractions, algebra, graphing, calculus, and more.</p>
                    <a class="expand_btn center" data-toggle="collapse" data-target="#collapseKumon"
                       aria-expanded="false" aria-controls="collapseKumon">
                        <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="collapse extra_info_card" id="collapseKumon">
                <div class="card card-body">
                    <h6>September 2014 - August 2016</h6>
                    <ul>
                        <li>Taught students various math concepts including basic math, addition, subtraction, to more
                            advanced math, fractions, algebra and calculus.
                        </li>
                        <li>Provided guidance to students on problems they encountered while completing practice
                            questions.
                        </li>
                        <li>Evaluated and documented completed student work.</li>
                        <li>Helped to onboard and train new employees.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="divider">
            <hr>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2 style="text-align: center">Technical Skills</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6 col-sm-12 left">
                <ul class="list-unstyled">
                    <li>C</li>
                    <li>Java</li>
                    <li>JavaScript</li>
                    <li>TypeScript</li>
                    <li>Node.js</li>
                    <li>Python</li>
                    <li>C++</li>
                    <li>Elixir and Phoenix</li>
                    <li>Ruby</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>SQL</li>
                    <li>Cobol</li>
                    <li>Ada</li>
                    <li>Fortran</li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12 right">
                <ul class="list-unstyled">
                    <li>Git</li>
                    <li>JUnit</li>
                    <li>Jest</li>
                    <li>ESLint</li>
                    <li>Test Driven Development</li>
                    <li>Agile Methodologies</li>
                    <li>Bootstrap</li>
                    <li>Bash</li>
                    <li>Maven</li>
                    <li>Gradle</li>
                    <li>Jupyter Notebooks</li>
                    <li>Jira</li>
                    <li>Springboot</li>
                    <li>R</li>
                    <li>Flask</li>
                </ul>
            </div>
        </div>
    </div>
</main>
</body>
<%- include('partials/footer'); -%>
