<%- include('partials/header'); -%>
<body>
  <%- include('partials/navbar'); -%>
  <!-- Add gap for visual space -->
  <div class="gap major_gap" style="background-image: url('/images/gap_main.jpeg');">
  </div>

  <div class="cat_header">
    <h1>Experience</h1>
    <!-- <h4>My educations and skills</h4> -->
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  </div>

  <div class="gap minor_gap" style="background-image: url('/images/gap_main.jpeg');">
  </div>

  <!-- Add divider to seperate degrees -->
  <div class="container divider">
    <hr>
  </div>

  <!-- Main portion of webpage -->

  <!-- UTA Position -->
  <div class="container">
    <div class="sub_cat_card">
      <div class="row">
        <div class="container divider text-center">
          <h2>Undergraduate Teaching Assistant</h2>
          <h6>University of Guelph - September 2020 to Present</h6>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <a class="expand_btn center" data-toggle="collapse" data-target="#collapseUTA" aria-expanded="false" aria-controls="collapseUTA">
            <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="collapse extra_info_card" id="collapseUTA">
        <div class="card card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
    </div>
  </div>

  <!-- Add divider to seperate degrees -->
  <div class="container divider">
    <hr>
  </div>

  <div class="container">
    <div class="sub_cat_card">
      <div class="row">
        <div class="container divider text-center">
          <h2>Undergraduate Research Assistant</h2>
          <h6>University of Guelph - May to August 2020</h6>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <a class="expand_btn center" data-toggle="collapse" data-target="#collapseURA" aria-expanded="false" aria-controls="collapseURA">
            <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="collapse extra_info_card" id="collapseURA">
        <div class="card card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
    </div>
  </div>

  <!-- Add divider to seperate degrees -->
  <div class="container divider">
    <hr>
  </div>

  <div class="container">
    <div class="sub_cat_card">
      <div class="row">
        <div class="container divider text-center">
          <h2>Student Software Developer</h2>
          <h6>Bell - May to August 2019</h6>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <a class="expand_btn center" data-toggle="collapse" data-target="#collapseBell" aria-expanded="false" aria-controls="collapseBell">
            <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="collapse extra_info_card" id="collapseBell">
        <div class="card card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
    </div>
  </div>

  <!-- Add divider to seperate degrees -->
  <div class="container divider">
    <hr>
  </div>

  <div class="container">
    <div class="sub_cat_card">
      <div class="row">
        <div class="container divider text-center">
          <h2>Student Software Developer</h2>
          <h6>Bell - May to August 2018</h6>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <a class="expand_btn center" data-toggle="collapse" data-target="#collapseBell2" aria-expanded="false" aria-controls="collapseBell2">
            <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="collapse extra_info_card" id="collapseBell2">
        <div class="card card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
    </div>
  </div>

  <!-- Add divider to seperate degrees -->
  <div class="container divider">
    <hr>
  </div>

  <div class="container">
    <div class="sub_cat_card">
      <div class="row">
        <div class="container divider text-center">
          <h2>Office Assistant</h2>
          <h6>ACRP Ltd. - May to August 2017</h6>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <a class="expand_btn center" data-toggle="collapse" data-target="#collapseACRP" aria-expanded="false" aria-controls="collapseACRP">
            <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="collapse extra_info_card" id="collapseACRP">
        <div class="card card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
    </div>
  </div>

  <!-- Add divider to seperate degrees -->
  <div class="container divider">
    <hr>
  </div>

  <!-- Kumon Tutor Position -->
  <div class="container">
    <div class="sub_cat_card">
      <div class="row">
        <div class="container divider text-center">
          <h2>Tutor</h2>
          <h6>Kumon - September 2014 / August 2016</h6>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <a class="expand_btn center" data-toggle="collapse" data-target="#collapseKumon" aria-expanded="false" aria-controls="collapseKumon">
            <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="collapse extra_info_card" id="collapseKumon">
        <div class="card card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
    </div>
  </div>

  <!-- Add divider to seperate degrees -->
  <div class="container divider">
    <hr>
  </div>
</body>
<%- include('partials/footer'); -%>
