<%- include('partials/header'); -%>
<body>
  <%- include('partials/navbar'); -%>

  <!-- Main content of website -->
  <main role="main">

    <!-- Add gap for visual space -->
      <div class="home_header">
      </div>

      <!-- Main portion of website -->
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <img src="images/profile.jpg" class="img-fluid" alt="Sooraj Modi Profile Picture" style="border-radius:8px;">
          </div>
          <div class="col-md-9 col-sm-6 about_padding">
            <p>Hello! My name is Sooraj Modi and I am a passionate software developer currently completing my Bachelor's degree in Honours Computer Science with a History minor at the University of Guelph. My time in University has allowed my
              to grow as a person and develop essential real world skills I hope to apply to future employment opportunities. I am a proven leader with creative problem solving skills. I am always looking for opportunities to improve and grow as
              a person, professional, leader and teammate. This website showcases some of my most influential experiences that help me grow into the person I am today. Feel free to reach out to me for questions or inquiries.</p>
            <!-- <div class="col text-center">
              <p><a class="btn btn-secondary home_btn" href="html/about.html" role="button">More About Me</a></p>
            </div> -->
          </div>
        </div>
      </div>

      <!-- Add smaller gap for visual space -->
      <div class="gap minor_gap">
      </div>

      <div class="container">
        <!-- Description of subcategories -->
        <div class="row">
          <div class="col-md-4 col-sm-1 text-center">
            <h2>Experience</h2>
            <p>Take a look at some of my work experience ranging from a Software Developer to an Undergraduate Research Assistant. These experiences have allowed me to apply skills I've learned to real applications and grow professionally.</p>
            <p><a class="home_btn" href="/experience" role="button">Read More</a></p>
          </div>
          <div class="col-md-4 text-center">
            <h2>Education</h2>
            <p>This section showcases some of the education opportunities I have participated including degrees, certifications and self-learning. Education is a fundamental step in life, and my experiences has challenged and allowed me to grow into a better individual.</p>
            <a class="home_btn" href="/education" role="button">Read More</a>
          </div>
          <div class="col-md-4 text-center">
            <h2>Volunteering</h2>
            <p>Its very important for me to be an engaged and active member of the community I'm associated with. Throughout my time at University I have volunteered for various positions and clubs that have given me tremendous experiential learning opportunities.</p>
            <a class="home_btn" href="/volunteering" role="button">Read More</a>
          </div>
        </div>

        <hr>

      <!-- List of Key Skills -->
      <div class="skills">
        <h2>Skills</h2>
        <div class="row">
          <div class="col-sm-6 left">
            <ul class="list-unstyled">
              <li>C</li>
              <li>Python</li>
              <li>Java</li>
              <li>JavaScript</li>
            </ul>
          </div>
          <div class="col-sm-6 right">
            <ul class="list-unstyled">
              <li>Web Development</li>
              <li>Backend Development</li>
              <li>Data Science</li>
              <li>Databases</li>
            </ul>
          </div>
        </div>
      </div>
      </div>
  </main>
</body>
<%- include('partials/footer'); -%>
