<%- include('partials/header.ejs'); -%>
  <body>
    <%- include('partials/navbar.ejs'); -%>
    <main role="main">
      <!-- Embed Resume -->
      <div class="container">
        <div class='embed-responsive'>
          <object data="/docs/SoorajModiResumeJan2020.pdf" type="application/pdf">
            <p>It appears you don't have a PDF plugin for this browser. No biggie... you can
              <a href="/docs/SoorajModiResumeJan2020.pdf" style="color:black">click here to download the PDF file.</a>
            </p>
          </object>
        </div>
      </div>

      <!-- Embed CV -->
      <div class="container">
        <div class='embed-responsive'>
          <object data="/docs/SoorajModiCV.pdf" type="application/pdf">
            <p>It appears you don't have a PDF plugin for this browser. No biggie... you can
              <a href="/docs/SoorajModiCV.pdf" style="color:black">click here to download the PDF file.</a>
            </p>
          </object>
        </div>
      </div>
    </main>
  </body>
<%- include('partials/footer.ejs'); -%>
