<%- include('partials/header') -%>
  <body>
    <%- include('partials/navbar') -%>
    <main role="main">
      <!-- Add gap for visual space -->
      <div class="gap major_gap">
      </div>

      <div class="cat_header">
        <h1>Volunteering</h1>
      </div>

      <div class="gap minor_gap">
      </div>

      <!-- Main portion of webpage -->
      <div class="container">

        <div class="sub_cat_card" id="first_sub_cat">
          <div class="row">
            <div class="container divider text-center">
              <h2>Director</h2>
              <h6><a class="cat_link" href="https://csaonline.ca/" target="_blank">Central Student Association (CSA)</a></h6>
              <p>In my final year of University, I had the opportunity to serve on the Board of Directors for the University of Guelph CSA, the central student body government. This position has allowed me to use knowledge I learned throughout my time at University to make campus and the services it offers better and more inclusive to all students.</p>
              <a class="expand_btn center" data-toggle="collapse" data-target="#collapseCSA" aria-expanded="false" aria-controls="collapseCSA">
                <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="collapse extra_info_card" id="collapseCSA">
            <div class="card card-body">
              <h6>May 2020 - Current</h6>
              <ul>
                <li>Member of the Board of Directors.</li>
                <li>Attending bi-weekly board meetings to make organization decisions</li>
                <li>Member of the Finance Committee</li>
                <ul>
                  <li>Provided input into the budgetary process and decisions made to best benefit students and align with the goals of the organization.</li>
                </ul>
                <li>Member of the Capacity, Analysis, and Planning Committee (CPACOM)</li>
                <ul>
                  <li>Reviewed the final report generate by the previous CAPCOM committee</li>
                  <li>Produced a report containing; a list of goals addressing the identified core and perceived structural issues, a summary of the problem and the desirable outcomes and timeline of progress and completion of dates.\
                  <li>Produced a final report containing; a summary of goals, what has been achieved, and the progress made, what did not work and what barriers are to blame, reflection of committee effectiveness and suggestions for next year’s CAPCOM</li>
                </ul>
                <li>Member of the CSA Clubs Tribunal Committee</li>
                <ul>
                  <li>Responsible for reviewing accreditation status of a CSA accredited club to deem whether a student club’s accreditation status or club privileges, including use of space on campus, club space, access to PDRs/funding, collection of student fees, will be revoked, denied and/or subject to any limitations</li>
                </ul>
                <li>Member of the Standing Referendum Committee</li>
                <ul>
                  <li>Receive all submitted referendum questions from the CSA Elections Office.</li>
                  <li>Upon receipt of a referendum question, meet to approve the question and provide any feedback within two weeks.</li>
                  <li>Determine the wording of the referendum question, which must include the current fee paid by students (if any), the proposed increase, and the new fee to be paid.</li>
                  <li>Determine which fee schedule, paid to the CSA, for hosting the referendum question, is applicable to the group.</li>
                </ul>
              </ul>
            </div>
          </div>
        </div>

      <!-- Add dividier to seperate different positions -->
      <div class="divider">
        <hr>
      </div>

        <div class="sub_cat_card">
          <div class="row">
            <div class="container divider text-center">
              <h2>Student Senator</h2>
              <h6><a class="cat_link" href="https://www.uoguelph.ca/secretariat/senate" target="_blank">University of Guelph Senate</a></h6>
              <p>The University of Guelph Senate is one of the bicameral government structures than govern in the University in responsible for academic programs, regulations and policies. I had the priviledge of serving as the Bachelor of Computing representative for three terms from 2018 to 2019 including two terms as Co-chair of Student Senate Caucus (SSC).</p>
              <a class="expand_btn center" data-toggle="collapse" data-target="#collapseSenate" aria-expanded="false" aria-controls="collapseSenate">
                <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="collapse extra_info_card" id="collapseSenate">
            <div class="card card-body">
              <h6>2018 - Current</h6>
              <ul>
                <li>Served for three terms from the 2018 to 2021 sessions.</li>
                <li>Attending monthly senate meetings.</li>
                <li>Evaluated and voted on new school policies in a consensus based decision making environment.</li>
                <li>Co-chair of SSC for two terms</li>
                <ul>
                  <li>Provide updates to Senate regarding the status and activities of SSC.</li>
                  <li>Represented SSC on Student Executive Council and during Student Leader and Admin Meetings.</li>
                  <li>Liason between teh University Secretariat office and SSC members.</li>
                  <li>Reviewed Senate agenda meeting packages with the University Secretariat.</li>
                  <li>Organized SSC meetings to review the agenda and answer any questions.</li>
                </ul>
                <li>Member of the Senate Priorities and Planning Committee</li>
                <ul>
                  <li>Utilize input from Senate’s standing committees to facilitate Senate in the process of establishing and approving its multi-year goals and priorities within the context of the University’s strategic and operational planning related to educational policy.</li>
                  <li>Support the standing committees in their activities towards achieving the multi-year goals and priorities of Senate.</li>
                  <li>Monitor Senate's progress towards the multi-year goals and priorities through regular updates from the standing committees.</li>
                  <li>Recommend adjustments or revisions to Senate's goals and priorities.</li>
                  <li>Receive and review the annual reports from Senate’s standing committees on their accomplishments.</li>
                  <li>Make recommendations for the work and priorities over the next session in the context of the University's long-term goals and strategic objectives, and based on input from the Senate’s standing committees.</li>
                  <li>Provide recommendations and leadership for the execution of those decisions of Senate which have not been referred to other standing committees and boards of Senate.</li>
                </ul>
                <li>Member of the Board of Undergraduate Studies (BUGS).</li>
                <ul>
                  <li>Reviewed policy and offered advice to Senate consistent with that body’s responsibilities for development and oversight of educational policy as it relates to undergraduate education.</li>
                  <li>Assisted in overseeing the implementation of educational policy as it concerns undergraduate education at the University.</li>
                  <li>Ensured BUGS supports the priorities of Senate.</li>
                  <li>Identified strategic priorities for the coming academic year along with a report outlining the Board’s accomplishments for the current year.</li>
                </ul>
                <li>Member of the Senate Research Board.</li>
                <ul>
                  <li>Provide recommendations and leadership for the execution of those decisions of Senate which have not been referred to other standing committees and boards of Senate.</li>
                  <li>Review and provide comments to Senate on the University’s Strategic Research Plan.</li>
                  <li>Consider and make recommendations to Senate regarding national, provincial, or regional policies that appear likely to affect significantly the well-being of the research programs at the University of Guelph.</li>
                  <li>Review and recommend to Senate annual reports on research-related matters where review of such reports by Senate may be required by externally-mandated agencies or legislation.</li>
                  <li>Receive, review and present to Senate those reports of the Office of Research which are relevant to the business of Senate.</li>
                  <li>Consider any other matters within its Senate-mandated responsibilities that are submitted to it by Senate or the Vice-President (Research), making comment and recommendations as appropriate.</li>
                </ul>
                <li>Member of the Compulsory Fees Committee.</li>
                <ul>
                  <li>Review membership and mandate of Student Services Fee (SSF) Advisory Committees on an annual basis.</li>
                  <li>Provide advice to the University administration regarding student services and associated policies, utilization, costs, funding, delivery arrangements, performance and accountability.</li>
                  <li>Provide an annual review to ensure compliance to the original terms of the SSF level as mandated.</li>
                  <li>Propose to university administration any revisions in the allocation of student services fees to student services and programs receiving support from such fees, having consideration for user fees in effect.</li>
                  <li> Propose changes in the level of established compulsory fees to the Board of Governors. Ensure that any proposal for new compulsory fees, whether originated by university administration or the Committee itself, goes through the appropriate advisory and approval processes.</li>
                  <li>Recommend any new University compulsory fees approved by students to the Board of Governors.</li>
                  <li>Review all referendum questions for proposed new University compulsory fees or for proposed changes in fee levels</li>
                  <li>Inform University students annually regarding the programs and services receiving support from compulsory fees.</li>
                  <li>Review Student Life Enhancement Fund (SLEF) applications and final reports annually. The Committee is responsible for allocating funds as outlined in the terms and conditions of the SLEF.</li>
                </ul>
                <li>Student Senate Caucus representative on the CSA Board of Directors.</li>
              </ul>
            </div>
          </div>
        </div>

      <!-- Add dividier to seperate different positions -->
      <div class="divider">
        <hr>
      </div>

      <!-- SOCIS  -->
        <div class="sub_cat_card">
          <div class="row">
            <div class="container divider text-center">
              <h2>President</h2>
              <h6><a class="cat_link" href="https://socis.ca/" target="_blank">Society of Computing and Information Science (SOCIS)</a></h6>
              <p>In my fourth year of University, I was elected President of the Bachelor of Computing Student Society named SOCIS. This position allowed me to advocate for and implement better services, events and opportunities for Computing students.</p>
              <a class="expand_btn center" data-toggle="collapse" data-target="#collapseSOCIS" aria-expanded="false" aria-controls="collapseSOCIS">
                <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="collapse extra_info_card" id="collapseSOCIS">
            <div class="card card-body">
              <h6>President, May 2019 - April 2020</h6>
              <ul>
                <li>Led the executive team.</li>
                <li>Chaired weekly SOCIS general meetings using Roberts Rules of Order (RRO).</li>
                <li>Chaired semesterly budget and governance meetings using RRO.</li>
                <li>Represented Society of Computing and Information Sciences at the School of Computer Science Council Meetings.</li>
                <li>Led collaborations with other clubs at the University of Guelph.</li>
                <li>Planned and organized events for students to partake in.</li>
                <li>Oversaw financial decisions relating to the club.</li>
                <li>Oversaw social media and other forms of communication with the student body.</li>
                <li>Oversaw merchandise development, design and sales.</li>
                <li>Oversaw affiliate organizations.</li>
                <li>Worked to increase semester funding from $200 to $4000+.</li>
                <li>Created policy changes to allow for affiliate clubs under SOCIS.</li>
                <li>Restructured the executive team to better balance responsibilites and accomplish the goals of the club.</li>
              </ul>
              <h6>Vice-President Internal, May 2018 - April 2019</h6>
              <ul>
                <li>Organized and ran events for members to attend and participate including Orientation Week events.</li>
                <li>Directed and led internal committees.</li>
                <li>Represented the club at external committees including the <a class="cat_link" href="https://cpessc.com/" target="_blank">College of Engineering and Physical Sciences Student Council</a>.</li>
                <li>Managed the budget and acquired funding to run events.</li>
                <li>Promoted events to students through social media and other platforms.</li>
                <li>Ensured events complied with all rules and regulations regarding student and event risk management.</li>
                <li>Prioritized accessibility of events, to ensure students regardless of disability, were able to participate.</li>
              </ul>
            </div>
          </div>
        </div>

      <!-- Add dividier to seperate different positions -->
      <div class="divider">
        <hr>
      </div>

      <!-- GCC -->
        <div class="sub_cat_card">
          <div class="row">
            <div class="container divider text-center">
              <h2>Director of Events</h2>
              <h6>Guelph Coding Community (GCC)</h6>
              <p>In my final year of University, I was appointed to be an executive member of GCC, an affiliate organization of SOCIS. This position allowed me to organize technical and community events.</p>
              <a class="expand_btn center" data-toggle="collapse" data-target="#collapseGCC" aria-expanded="false" aria-controls="collapseGCC">
                <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="collapse extra_info_card" id="collapseGCC">
            <div class="card card-body">
              <h6>May 2020 - Current</h6>
              <ul>
                <li>Attending weekly executive meetings.</li>
                <li>Attending weekly GCC meetings.</li>
                <li>Organize events for students to participate in.</li>
              </ul>
            </div>
          </div>
        </div>

      <!-- Add dividier to seperate different positions -->
      <div class="divider">
        <hr>
      </div>

      <!-- Jack.org -->
        <div class="sub_cat_card" id="final_sub_cat">
          <div class="row">
            <div class="container divider text-center">
              <h2>Executive Member</h2>
              <h6>Jack.org</h6>
              <p>Mental Health is a very important issue to be, and one I believe we need to talk about more in our day to day lives. I joined Jack.org so I can have a bigger impact in bringing the conversation forward about mental health at the University of Guelph.</p>
              <a class="expand_btn center" data-toggle="collapse" data-target="#collapseJack" aria-expanded="false" aria-controls="collapseJack">
                <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="collapse extra_info_card" id="collapseJack">
            <div class="card card-body">
              <h6>January 2019 - April 2020</h6>
              <ul>
                <li>Attending weekly executive meetings.</li>
                <li>Aided to plan and organize events relating to mental health.</li>
                <li>Helped facilitate on campus events.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>  <!-- Add gap for visual space -->
        <div class="gap major_gap">
        </div>

        <div class="cat_header">
          <h1>Volunteering</h1>
        </div>

        <div class="gap minor_gap">
        </div>

        <!-- Main portion of webpage -->
        <div class="container">

          <div class="sub_cat_card" id="first_sub_cat">
            <div class="row">
              <div class="container divider text-center">
                <h2>Director</h2>
                <h6><a class="cat_link" href="https://csaonline.ca/" target="_blank">Central Student Association (CSA)</a></h6>
                <p>In my final year of University, I had the opportunity to serve on the Board of Directors for the University of Guelph CSA, the central student body government. This position has allowed me to use knowledge I learned throughout my time at University to make campus and the services it offers better and more inclusive to all students.</p>
                <a class="expand_btn center" data-toggle="collapse" data-target="#collapseCSA" aria-expanded="false" aria-controls="collapseCSA">
                  <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="collapse extra_info_card" id="collapseCSA">
              <div class="card card-body">
                <h6>May 2020 - Current</h6>
                <ul>
                  <li>Member of the Board of Directors.</li>
                  <li>Attending bi-weekly board meetings to make organization decisions</li>
                  <li>Member of the Finance Committee</li>
                  <ul>
                    <li>Provided input into the budgetary process and decisions made to best benefit students and align with the goals of the organization.</li>
                  </ul>
                  <li>Member of the Capacity, Analysis, and Planning Committee (CPACOM)</li>
                  <ul>
                    <li>Reviewed the final report generate by the previous CAPCOM committee</li>
                    <li>Produced a report containing; a list of goals addressing the identified core and perceived structural issues, a summary of the problem and the desirable outcomes and timeline of progress and completion of dates.\
                    <li>Produced a final report containing; a summary of goals, what has been achieved, and the progress made, what did not work and what barriers are to blame, reflection of committee effectiveness and suggestions for next year’s CAPCOM</li>
                  </ul>
                  <li>Member of the CSA Clubs Tribunal Committee</li>
                  <ul>
                    <li>Responsible for reviewing accreditation status of a CSA accredited club to deem whether a student club’s accreditation status or club privileges, including use of space on campus, club space, access to PDRs/funding, collection of student fees, will be revoked, denied and/or subject to any limitations</li>
                  </ul>
                  <li>Member of the Standing Referendum Committee</li>
                  <ul>
                    <li>Receive all submitted referendum questions from the CSA Elections Office.</li>
                    <li>Upon receipt of a referendum question, meet to approve the question and provide any feedback within two weeks.</li>
                    <li>Determine the wording of the referendum question, which must include the current fee paid by students (if any), the proposed increase, and the new fee to be paid.</li>
                    <li>Determine which fee schedule, paid to the CSA, for hosting the referendum question, is applicable to the group.</li>
                  </ul>
                </ul>
              </div>
            </div>
          </div>

        <!-- Add dividier to seperate different positions -->
        <div class="divider">
          <hr>
        </div>

          <div class="sub_cat_card">
            <div class="row">
              <div class="container divider text-center">
                <h2>Student Senator</h2>
                <h6><a class="cat_link" href="https://www.uoguelph.ca/secretariat/senate" target="_blank">University of Guelph Senate</a></h6>
                <p>The University of Guelph Senate is one of the bicameral government structures than govern in the University in responsible for academic programs, regulations and policies. I had the priviledge of serving as the Bachelor of Computing representative for three terms from 2018 to 2019 including two terms as Co-chair of Student Senate Caucus (SSC).</p>
                <a class="expand_btn center" data-toggle="collapse" data-target="#collapseSenate" aria-expanded="false" aria-controls="collapseSenate">
                  <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="collapse extra_info_card" id="collapseSenate">
              <div class="card card-body">
                <h6>2018 - Current</h6>
                <ul>
                  <li>Served for three terms from the 2018 to 2021 sessions.</li>
                  <li>Attending monthly senate meetings.</li>
                  <li>Evaluated and voted on new school policies in a consensus based decision making environment.</li>
                  <li>Co-chair of SSC for two terms</li>
                  <ul>
                    <li>Provide updates to Senate regarding the status and activities of SSC.</li>
                    <li>Represented SSC on Student Executive Council and during Student Leader and Admin Meetings.</li>
                    <li>Liason between teh University Secretariat office and SSC members.</li>
                    <li>Reviewed Senate agenda meeting packages with the University Secretariat.</li>
                    <li>Organized SSC meetings to review the agenda and answer any questions.</li>
                  </ul>
                  <li>Member of the Senate Priorities and Planning Committee</li>
                  <ul>
                    <li>Utilize input from Senate’s standing committees to facilitate Senate in the process of establishing and approving its multi-year goals and priorities within the context of the University’s strategic and operational planning related to educational policy.</li>
                    <li>Support the standing committees in their activities towards achieving the multi-year goals and priorities of Senate.</li>
                    <li>Monitor Senate's progress towards the multi-year goals and priorities through regular updates from the standing committees.</li>
                    <li>Recommend adjustments or revisions to Senate's goals and priorities.</li>
                    <li>Receive and review the annual reports from Senate’s standing committees on their accomplishments.</li>
                    <li>Make recommendations for the work and priorities over the next session in the context of the University's long-term goals and strategic objectives, and based on input from the Senate’s standing committees.</li>
                    <li>Provide recommendations and leadership for the execution of those decisions of Senate which have not been referred to other standing committees and boards of Senate.</li>
                  </ul>
                  <li>Member of the Board of Undergraduate Studies (BUGS).</li>
                  <ul>
                    <li>Reviewed policy and offered advice to Senate consistent with that body’s responsibilities for development and oversight of educational policy as it relates to undergraduate education.</li>
                    <li>Assisted in overseeing the implementation of educational policy as it concerns undergraduate education at the University.</li>
                    <li>Ensured BUGS supports the priorities of Senate.</li>
                    <li>Identified strategic priorities for the coming academic year along with a report outlining the Board’s accomplishments for the current year.</li>
                  </ul>
                  <li>Member of the Senate Research Board.</li>
                  <ul>
                    <li>Provide recommendations and leadership for the execution of those decisions of Senate which have not been referred to other standing committees and boards of Senate.</li>
                    <li>Review and provide comments to Senate on the University’s Strategic Research Plan.</li>
                    <li>Consider and make recommendations to Senate regarding national, provincial, or regional policies that appear likely to affect significantly the well-being of the research programs at the University of Guelph.</li>
                    <li>Review and recommend to Senate annual reports on research-related matters where review of such reports by Senate may be required by externally-mandated agencies or legislation.</li>
                    <li>Receive, review and present to Senate those reports of the Office of Research which are relevant to the business of Senate.</li>
                    <li>Consider any other matters within its Senate-mandated responsibilities that are submitted to it by Senate or the Vice-President (Research), making comment and recommendations as appropriate.</li>
                  </ul>
                  <li>Member of the Compulsory Fees Committee.</li>
                  <ul>
                    <li>Review membership and mandate of Student Services Fee (SSF) Advisory Committees on an annual basis.</li>
                    <li>Provide advice to the University administration regarding student services and associated policies, utilization, costs, funding, delivery arrangements, performance and accountability.</li>
                    <li>Provide an annual review to ensure compliance to the original terms of the SSF level as mandated.</li>
                    <li>Propose to university administration any revisions in the allocation of student services fees to student services and programs receiving support from such fees, having consideration for user fees in effect.</li>
                    <li> Propose changes in the level of established compulsory fees to the Board of Governors. Ensure that any proposal for new compulsory fees, whether originated by university administration or the Committee itself, goes through the appropriate advisory and approval processes.</li>
                    <li>Recommend any new University compulsory fees approved by students to the Board of Governors.</li>
                    <li>Review all referendum questions for proposed new University compulsory fees or for proposed changes in fee levels</li>
                    <li>Inform University students annually regarding the programs and services receiving support from compulsory fees.</li>
                    <li>Review Student Life Enhancement Fund (SLEF) applications and final reports annually. The Committee is responsible for allocating funds as outlined in the terms and conditions of the SLEF.</li>
                  </ul>
                  <li>Student Senate Caucus representative on the CSA Board of Directors.</li>
                </ul>
              </div>
            </div>
          </div>

        <!-- Add dividier to seperate different positions -->
        <div class="divider">
          <hr>
        </div>

        <!-- SOCIS  -->
          <div class="sub_cat_card">
            <div class="row">
              <div class="container divider text-center">
                <h2>President</h2>
                <h6><a class="cat_link" href="https://socis.ca/" target="_blank">Society of Computing and Information Science (SOCIS)</a></h6>
                <p>In my fourth year of University, I was elected President of the Bachelor of Computing Student Society named SOCIS. This position allowed me to advocate for and implement better services, events and opportunities for Computing students.</p>
                <a class="expand_btn center" data-toggle="collapse" data-target="#collapseSOCIS" aria-expanded="false" aria-controls="collapseSOCIS">
                  <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="collapse extra_info_card" id="collapseSOCIS">
              <div class="card card-body">
                <h6>President, May 2019 - April 2020</h6>
                <ul>
                  <li>Led the executive team.</li>
                  <li>Chaired weekly SOCIS general meetings using Roberts Rules of Order (RRO).</li>
                  <li>Chaired semesterly budget and governance meetings using RRO.</li>
                  <li>Represented Society of Computing and Information Sciences at the School of Computer Science Council Meetings.</li>
                  <li>Led collaborations with other clubs at the University of Guelph.</li>
                  <li>Planned and organized events for students to partake in.</li>
                  <li>Oversaw financial decisions relating to the club.</li>
                  <li>Oversaw social media and other forms of communication with the student body.</li>
                  <li>Oversaw merchandise development, design and sales.</li>
                  <li>Oversaw affiliate organizations.</li>
                  <li>Worked to increase semester funding from $200 to $4000+.</li>
                  <li>Created policy changes to allow for affiliate clubs under SOCIS.</li>
                  <li>Restructured the executive team to better balance responsibilites and accomplish the goals of the club.</li>
                </ul>
                <h6>Vice-President Internal, May 2018 - April 2019</h6>
                <ul>
                  <li>Organized and ran events for members to attend and participate including Orientation Week events.</li>
                  <li>Directed and led internal committees.</li>
                  <li>Represented the club at external committees including the <a class="cat_link" href="https://cpessc.com/" target="_blank">College of Engineering and Physical Sciences Student Council</a>.</li>
                  <li>Managed the budget and acquired funding to run events.</li>
                  <li>Promoted events to students through social media and other platforms.</li>
                  <li>Ensured events complied with all rules and regulations regarding student and event risk management.</li>
                  <li>Prioritized accessibility of events, to ensure students regardless of disability, were able to participate.</li>
                </ul>
              </div>
            </div>
          </div>

        <!-- Add dividier to seperate different positions -->
        <div class="divider">
          <hr>
        </div>

        <!-- GCC -->
          <div class="sub_cat_card">
            <div class="row">
              <div class="container divider text-center">
                <h2>Director of Events</h2>
                <h6>Guelph Coding Community (GCC)</h6>
                <p>In my final year of University, I was appointed to be an executive member of GCC, an affiliate organization of SOCIS. This position allowed me to organize technical and community events.</p>
                <a class="expand_btn center" data-toggle="collapse" data-target="#collapseGCC" aria-expanded="false" aria-controls="collapseGCC">
                  <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="collapse extra_info_card" id="collapseGCC">
              <div class="card card-body">
                <h6>May 2020 - Current</h6>
                <ul>
                  <li>Attending weekly executive meetings.</li>
                  <li>Attending weekly GCC meetings.</li>
                  <li>Organize events for students to participate in.</li>
                </ul>
              </div>
            </div>
          </div>

        <!-- Add dividier to seperate different positions -->
        <div class="divider">
          <hr>
        </div>

        <!-- Jack.org -->
          <div class="sub_cat_card" id="final_sub_cat">
            <div class="row">
              <div class="container divider text-center">
                <h2>Executive Member</h2>
                <h6>Jack.org</h6>
                <p>Mental Health is a very important issue to be, and one I believe we need to talk about more in our day to day lives. I joined Jack.org so I can have a bigger impact in bringing the conversation forward about mental health at the University of Guelph.</p>
                <a class="expand_btn center" data-toggle="collapse" data-target="#collapseJack" aria-expanded="false" aria-controls="collapseJack">
                  <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="collapse extra_info_card" id="collapseJack">
              <div class="card card-body">
                <h6>January 2019 - April 2020</h6>
                <ul>
                  <li>Attending weekly executive meetings.</li>
                  <li>Aided to plan and organize events relating to mental health.</li>
                  <li>Helped facilitate on campus events.</li>
                </ul>
              </div>
            </div>
          </div>

        </div>
    </main>
  </body>
<%- include('partials/footer') -%>
