<%- include('partials/header') -%>
  <body>
    <main role="main">
      <%- include('partials/navbar') -%>

      <!-- Add gap for visual space -->
      <div class="gap major_gap" style="background-image: url('/images/gap_main.jpeg');">
      </div>

      <div class="cat_header">
        <h1>Volunteering</h1>
        <p>Being a part of the community is important to me. Over my time at University, I have spent time enganging and volunteering with a variety of opportunities to make our community a better place.</p>
      </div>

      <div class="gap minor_gap" style="background-image: url('/images/gap_main.jpeg');">
      </div>

      <!-- Add dividier to seperate different positions -->
      <div class="container divider">
        <hr>
      </div>

      <!-- Main portion of webpage -->
      <div class="container">
        <div class="sub_cat_card">
          <div class="row">
            <div class="container divider text-center">
              <h2>University of Guelph Senate</h2>
              <h6>Student Senator &#9679; Guelph, ON &#9679; September 2017 - Present</h6>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <a class="expand_btn center" data-toggle="collapse" data-target="#collapseSenate" aria-expanded="false" aria-controls="collapseSenate">
                <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="collapse extra_info_card" id="collapseSenate">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
        </div>
      </div>

      <!-- Add dividier to seperate different positions -->
      <div class="container divider">
        <hr>
      </div>

      <!-- SOCIS  -->
      <div class="container">
        <div class="sub_cat_card">
          <div class="row">
            <div class="container divider text-center">
              <h2>Society of Computing and Information Science (SOCIS)</h2>
              <h6>President &#9679; Guelph, ON &#9679; May 2019 - April 2020</h6>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <a class="expand_btn center" data-toggle="collapse" data-target="#collapseSOCIS" aria-expanded="false" aria-controls="collapseSOCIS">
                <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="collapse extra_info_card" id="collapseSOCIS">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
        </div>
      </div>

      <!-- Add dividier to seperate different positions -->
      <div class="container divider">
        <hr>
      </div>

      <!-- GCC -->
      <div class="container">
        <div class="sub_cat_card">
          <div class="row">
            <div class="container divider text-center">
              <h2>Guelph Coding Community (GCC)</h2>
              <h6>Director of Events &#9679; Guelph, ON &#9679; May 2020 - Present</h6>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <a class="expand_btn center" data-toggle="collapse" data-target="#collapseGCC" aria-expanded="false" aria-controls="collapseGCC">
                <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="collapse extra_info_card" id="collapseGCC">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
        </div>
      </div>

      <!-- Add dividier to seperate different positions -->
      <div class="container divider">
        <hr>
      </div>

      <!-- Jack.org -->
      <div class="container">
        <div class="sub_cat_card">
          <div class="row">
            <div class="container divider text-center">
              <h2>Jack.org</h2>
              <h6>Executive Member&#9679; Guelph, ON &#9679; January 2019 - April 2020</h6>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <a class="expand_btn center" data-toggle="collapse" data-target="#collapseJack" aria-expanded="false" aria-controls="collapseJack">
                <i class="animate-icon fa fa-chevron-up" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="collapse extra_info_card" id="collapseJack">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
        </div>
      </div>

      <!-- Add dividier to seperate different positions -->
      <div class="container divider">
        <hr>
      </div>
    </main>
  </body>
<%- include('partials/footer') -%>
