/*404 Error Page CSS*/
.not-found {
    position: relative;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
}

.not-found h2 {
    padding-top: 10vh;
}

.not-found a {
    color: black;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 40px;
    font-weight: 700;
    -webkit-box-shadow: 0 4px 15px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 15px -5px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.not-found a:hover {
    color: #fff;
    background-color: black;
}
