.home-main {
    margin-left: 300px;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 5vh;
}

.home-main h1 {
    padding-top: 15vh;
    font-size: 96px;
}

.home-main h2 {
    padding-top: 20vh;
    font-size: 48px;
    padding-bottom: 2vh;
}

.home-main p {
    font-size: 20px;
}

.home-sub-header h2 {
    padding-top: 10vh;
    font-size: 48px;
    padding-bottom: 2vh;
}

.home-sub-header p {
    font-size: 20px;
}

@media screen and (max-width: 800px) {
    .home-main {
        margin-left: 150px;
        padding-left: 2vh;
        padding-right: 2vh;
    }
}
