* {
    font-family: "Lato", sans-serif;
    background-color: #F5F5F5;
}

html {
    height: 100%;
    width: 100%;
    padding:0;
}

body {
    height: 100%;
    width: 100%;
}

pre {
    background: #BEBEBE;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

code {
    background: #BEBEBE;
    color: black;
}

label {
    width: 100%;
    padding-top: 2vh;
}

.container {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    max-width: 100%;
}

.main-header {
    margin-left: 350px;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 5vh;
    min-height: 100vh;
}

.main-header h1 {
    padding-top: 15vh;
    font-size: 96px;
}

.main-header h2 {
    padding-top: 45vh;
    font-size: 40px;
    padding-bottom: 10vh;
    color: #686868;
}

.arrow-btn {
    padding-top: 25px;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 1000px;
    width: 100%;
    overflow: scroll;
}

.submit-btn {
    padding-top: 2vh;
    align-content: center;
}

@media screen and (max-width: 800px) {
    .home-main {
        margin-left: 200px;
        padding-left: 5vh;
        padding-right: 5vh;
    }
}
