#first_sub_cat {
  padding-top: 1%;
}

#final_sub_cat {
  padding-bottom: 1%;
}

.about_arrow {
  outline: none;
}

.container {
  padding-bottom: 0.5%;
  padding-top: 0px;
  border-radius: 15px;
}

.divider {
  border-radius: 0;
  padding-bottom: 0;
}

.container a {
  padding-bottom: 10%;
  padding-top: 0px;
}

.container h2 {
  padding-top:2.5%;
}

.container p {
  padding-right: 5%;
  padding-left: 5%;
}

.container .extra_info_card {
  padding-bottom: 1%;
}

.extra_info_card .card  {
  background-color:#F8F8F8;
  padding-top:auto;
  padding-bottom:auto;
  border-radius: 10px;
}

.cat_link:link, .cat_link:visited, .cat_link:hover, .cat_link:active {
  color: #000000;
  text-decoration: none;
}

.expand_btn {
  padding-top: -5px;
  padding-bottom:5%;
  text-align: center;
  outline: none;
  padding-left: 50%;
  padding-right: 50%;
  color:black;
}

.expand_btn:hover {
  color: black;
}
